# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Streamlit specific
.streamlit/
*.db
*.sqlite3

# Logs and temp files
*.log
*.tmp
*.bak

# OS files
.DS_Store
Thumbs.db

# IDEs / editors
.vscode/